.sub-window {
  aspect-ratio: 1 / 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* overflow: auto; */
}

.sub-window > * {
  text-align: center;
  width: 100%;
}

.sub-window > button {
  margin-top: 15px;
}

.light {
  background-color: #f5f5f5;
  transition: background-color .2s;
  color: #1b1818;
}

.dark {
  background-color: #242424;
  transition: background-color .2s;
  color: #e0dbdb;
}

li {
  user-select: none;
  text-align: left;
  cursor: pointer;
}

b {
  font-size: 13px;
}